[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
pytest-cov = "*"
better-exceptions = "*"
pre-commit = "*"
flask-testing = "*"
coverage = "*"

[packages]
flask = "*"
flask-script = "*"
gunicorn = "*"
loguru = "*"
python-dotenv = "*"
requests = "*"
marshmallow = "*"
celery = {extras = ["redis"],version = "*"}
pika = "*"

[requires]
python_version = "3.8"
