apiVersion: v1
kind: Secret
metadata:
  name: sms-config
  namespace: comms
type: Opaque
stringData:
  token: <SMS_TOKEN>
  apiUrl: <SMS_API_URL>

---
apiVersion: v1
kind: Secret
metadata:
  name: sms-amqp-credentials
type: Opaque
stringData:
  user: <USER>
  password: <PASSWORD>
