apiVersion: v1
kind: Secret
metadata:
  name: sms-config
  namespace: comms
type: Opaque
stringData:
  username: <SMS_API_USERNAME>
  token: <SMS_API_TOKEN>
  apiUrl: <SMS_API_URL>

---
apiVersion: v1
kind: Secret
metadata:
  name: sms-broker-credentials
  namespace: comms
type: Opaque
stringData:
  user: <USER>
  password: <PASSWORD>